<mat-card>
  <div class="header-container">
    <h1 class="header-container" mat-card-title>{{ titulo }}</h1>
    <div
      class="row my-4"
      *ngIf="
        (!estudio?.iuid || estudio.iuid?.length == 0) &&
        estudio?.concepto?.dicom
      "
    >
      <p style="font-size: x-large; color: #ff0000">
        El estudio aún no ha sido tomado
      </p>
    </div>

    <div
      class="my-4"
      *ngIf="
        (estudio?.iuid || estudio.iuid?.length > 0) && estudio?.concepto?.dicom
      "
    >
      <button class="btn btn-primary btn-lg w-25" (click)="isMobile?abrirOhif(estudio):abrir(estudio)">
        Ver imágenes
      </button>
    </div>

    <div
      class="row my-4"
      *ngIf="(archivosCargados | async) == false && interpretacion == null"
    >
      <p style="font-size: x-large; color: #ff0000">
        El estudio aún no ha sido interpretado
      </p>
    </div>
  </div>

  <div mat-card-content class="body-container">
    <div
      class="card text-dark bg-light mb-3 contenedor-pdf-boton"
      *ngIf="interpretacion"
    >
      <div class="card-body botones-para-pdf">
        <button class="btn btn-success btn-lg" (click)="descargarPdf()">
          Descargar
        </button>
        <button class="btn btn-primary btn-lg" (click)="isMobile?abrirOhif(estudio):abrir(estudio)">
          Ver imágenes
        </button>
      </div>
      <div class="" style="display: flex; justify-content: center; align-items: center;">
        <pdf-viewer
          [src]="enlacePdf"
          [render-text]="true"
          [original-size]="false"
          class="pdf"
        ></pdf-viewer>
        <!-- style="width: 1200px; height: 1200px" -->
      </div>
    </div>

    <div
      class="card text-dark bg-light mb-3 contenedor-pdf-boton"
      *ngIf="archivosCargados | async"
    >
      <div class="" *ngFor="let interpretacion of archivos">
        <div class="card-body botones-para-pdf">
          <button
            class="btn btn-success btn-lg"
            (click)="descargarPdfExterno(filesPath + interpretacion.ruta)"
          >
            Descargar
          </button>
          <button class="btn btn-primary btn-lg" (click)="abrir(estudio)">
            Ver imágenes
          </button>
        </div>
        <pdf-viewer
          class="pdf"
          [src]="filesPath + interpretacion.ruta"
          [render-text]="true"
          [original-size]="false"
        >
        </pdf-viewer>
      </div>
    </div>
  </div>
</mat-card>
