.contenedor-pdf-boton{
    display: flex;
}

.contenedor-pdf-boton .card-body{
    display: flex;
    align-content: flex-start;
}
.pdf{
    width: 100%;
    height: 2400px;
}
.ver-imagenes{
    width: 35%;
}

@media (min-width:768px) {
    .contenedor-pdf-boton .card-body{
        justify-content: space-evenly;
    }
    .pdf{
        width: 100%;
        height: 1100px;
    }
}

@media (max-width:768px) {
    .contenedor-pdf-boton .card-body{
        justify-content: space-between;
    }
    .pdf{
        width: 100%;
        height: 400px;
    }
    .ver-imagenes{
        width: 90%;
    }
}