<mat-card>
  <div class="header-container">
    <h1 class="header-container" mat-card-title>{{ titulo }}</h1>
    <div
      class="row my-4"
      *ngIf="
        (!estudio?.iuid || estudio.iuid?.length == 0) &&
        estudio?.concepto?.dicom
      "
    >
      <p style="font-size: x-large; color: #ff0000">
        El estudio aún no ha sido tomado
      </p>
    </div>

    <div
      class="my-4"
      *ngIf="
        (estudio?.iuid || estudio.iuid?.length > 0) && estudio?.concepto?.dicom
      "
    >
      <button
        class="btn btn-primary btn-lg w-25"
        (click)="isMobile ? abrirOhif(estudio) : abrir(estudio)"
      >
        Ver imágenes
      </button>
    </div>

    <div
      class="row my-4"
      *ngIf="(archivosCargados | async) == false && interpretacion == null"
    >
      <p style="font-size: x-large; color: #ff0000">
        El estudio aún no ha sido interpretado
      </p>
    </div>
  </div>

  <div mat-card-content class="body-container">
    <div
      class="card text-dark bg-light mb-3 contenedor-pdf-boton"
      *ngIf="interpretacion"
    >
      <div class="card-body botones-para-pdf">
        <button class="btn btn-success " (click)="descargarPdf()">
          Descargar
        </button>
        <button
          *ngIf="enlacePdf !== ''"
          class="btn btn-dark"
          (click)="verInterpretacion(enlacePdf)"
        >
          Ver Reporte
        </button>

        <button
          class="btn btn-primary"
          (click)="isMobile ? abrirOhif(estudio) : abrir(estudio)"
        >
          Ver imágenes
        </button>
      </div>
    </div>

    <div
      class="card text-dark bg-light mb-3 contenedor-pdf-boton"
      *ngIf="archivosCargados | async"
    >
      <div class="" *ngFor="let interpretacion of archivos">
        <div class="card-body botones-para-pdf">
          <button
            class="btn btn-success"
            (click)="descargarPdfExterno(filesPath + interpretacion.ruta)"
          >
            Descargar
          </button>
          <button
            class="btn btn-dark"
            (click)="verInterpretacion(filesPath + interpretacion.ruta)"
          >
            Ver Reporte
          </button>
          <button class="btn btn-primary"  (click)="isMobile ? abrirOhif(estudio) : abrir(estudio)">
            Ver imágenes
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
