mat-expansion-panel {
  background-color: rgb(39, 39, 42);
  color: white;
}

mat-expansion-panel-header {
  height: 100px;
}

mat-panel-title {
  color: white;
}
mat-panel-description {
  color: white;
}
.contenido-1 {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.contenido-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.video{
  padding-bottom: 10px;
}