<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState1 = true"
    (closed)="panelOpenState1 = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Ver mis estudios digitales </mat-panel-title>
      <mat-panel-description>
        Click {{ panelOpenState1 ? "cerrar" : "abrir" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-1">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/LHihBv0tYmE?si=431U9lm9ng5R3t7C"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/_NAO3bkZjqY?si=KWYvVYnX0oOEYVQb"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<hr />
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState2 = true"
    (closed)="panelOpenState2 = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Agendar una cita en linea </mat-panel-title>
      <mat-panel-description>
        Click {{ panelOpenState2 ? "cerrar" : "abrir" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-2">
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/aZWUsDv1ndk?si=4IodRWKzBuMKj0Qw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/8dyQ78L2kPQ?si=vlQPyEkOa7xNHNQ6"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <iframe
        width="500"
        height="300"
        src="https://www.youtube.com/embed/mteZ5Q8MB5o?si=qeG7efzQp4EJlcnT"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<hr />
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState3 = true"
    (closed)="panelOpenState3 = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Guardar mi disco en una memoria USB </mat-panel-title>
      <mat-panel-description>
        Click {{ panelOpenState3 ? "cerrar" : "abrir" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-3">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/U8CO-X-OCtk?si=PqKuKHWs10UVe6-D"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<hr />
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState4 = true"
    (closed)="panelOpenState4 = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Abrir mi estudio guardado </mat-panel-title>
      <mat-panel-description>
        Click {{ panelOpenState4 ? "cerrar" : "abrir" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-4">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/rc6djjesi2I?si=0aM5yqvs-6d24r86"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </mat-expansion-panel>
</mat-accordion>
