mat-expansion-panel {
  background-color: rgb(39, 39, 42);
  color: white;
}

mat-expansion-panel-header {
  height: 100%+20px;
}

mat-panel-title {
  color: white;
}
mat-panel-description {
  color: white;
}
.contenido-1 {
  justify-content: center;
  text-align: center;
}
