<h1 mat-dialog-title>Enviar {{estudio.concepto.concepto}} de {{estudio.paciente.nombreCompleto}}</h1>
<div mat-dialog-content>


    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <!--
    <table mat-table [dataSource] = "estudios"  class = "mat-elevation-z8 m-3" style = "width: 75%;">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let estudio">{{estudio.id}}</td>
        </ng-container>
        
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let estudio">{{estudio.createdTime | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="paciente">
            <th mat-header-cell *matHeaderCellDef>Paciente</th>
            <td mat-cell *matCellDef="let estudio">{{estudio.patient.personName.familyName? estudio.patient.personName.familyName: "" 
                + " " + estudio.patient.personName.givenName? estudio.patient.personName.givenName: "" }}</td>
        </ng-container>
        
        
        <ng-container matColumnDef="estudio">
            <th mat-header-cell *matHeaderCellDef>Estudio</th>
            <td mat-cell *matCellDef="let estudio">{{estudio?.studyDesc}}</td>
        </ng-container>
        
        <ng-container matColumnDef="idPacs">
            <th mat-header-cell *matHeaderCellDef>Id Pacs</th>
            <td mat-cell *matCellDef="let estudio">{{estudio.studyId}}</td>
        </ng-container>
        
        <ng-container matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef>Ver</th>
            <td mat-cell *matCellDef="let estudio">
                <button mat-mini-fab color="primary" (click)="ver(estudio)">Ver</button>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="vincular">
            <th mat-header-cell *matHeaderCellDef>Vincular</th>
            <td mat-cell *matCellDef="let estudio">
                <button mat-mini-fab color="secondary"  [matDialogClose]="vinculado" (click)="vincular(estudio)">Vincular</button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="mostrarColumnasEstudios"></tr>
        <tr mat-row *matRowDef="let estudio; columns: mostrarColumnasEstudios;"></tr>
        
        </table>
-->
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="enviar(estudio)">Enviar</button>
        </div>
</div>