<h1 mat-dialog-title>Enviar {{estudio.concepto.concepto}} de {{estudio.paciente.nombreCompleto}}</h1>
<div mat-dialog-content>


    <div class="card text-dark bg-light mb-3">
        <div class="card-header">{{titulo}}</div>
        <div class="card-body">
            
            <button class="btn btn-secondary my-2" (click)="cancelar()">Volver</button>

            <form>
                <div class="form-group my-5">
                    <label for="motivo">Motivo</label>
                    <input type="text" name="motivo" id="motivo" class="form-control" readonly
                        placeholder={{estudio.ordenVenta.motivo}}
                    >
                </div>

                <div class="form-group my-3">
                    <label class="form-check-label" for="antecedentes">Antecedentes</label>
                    <input type="text" name="antecedentes" id="antecedentes" class="form-control" readonly
                        placeholder={{antecedentesJuntos}}>
                </div>


                <div class="form-group my-3">
                    <mat-form-field>
                        <input matInput placeholder="Medico radiólogo" [formControl]="autocompleteControlMedicoRadiologo"
                            [matAutocomplete]="autocompleteRadiologo">
                        <mat-autocomplete #autocompleteRadiologo="matAutocomplete" [displayWith]="mostrarNombreMedicoRadiologo"
                            (optionSelected)="seleccionarMedicoRadiologo($event)">
                            <mat-option *ngFor="let medicoRadiologo of medicosRadiologosFiltrados" [value]="medicoRadiologo">
                                {{medicoRadiologo.nombres + ' ' +medicoRadiologo.apellidos}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="form-group my-2" *ngIf="!estudio.concepto.dicom">
                    <div class="input-group mb-3">

                        <div class="custom-file">
                            <input (change)="seleccionarPdf($event)" type="file" class="custom-file-input"
                                id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Seleccionar pdf</label>
                        </div>
                    </div>
                </div>


                <div class="form-group my-3">
                    <img [src]="imagePath + estudio.ordenVenta.id" class="img-thumbnail rounded"
                        style="cursor: pointer;">
                </div>

                <!-- <div class="form-group my-3">
                    <mat-form-field>
                        <input matInput placeholder="Medico referente" [formControl]="autocompleteControlMedicoReferente"
                            [matAutocomplete]="autocompleteReferente">
                        <mat-autocomplete #autocompleteReferente="matAutocomplete" [displayWith]="mostrarNombreMedicoReferente"
                            (optionSelected)="seleccionarMedicoReferente($event)">
                            <mat-option *ngFor="let medicoReferente of medicosReferentesFiltrados" [value]="medicoReferente" [class]="medicoReferente.validado?'medico-verificado':''">
                                {{medicoReferente.nombres + ' ' +medicoReferente.apellidos}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <button type="button" class="btn btn-sm btn-info mx-2" (click)="nuevoMedico()">Nuevo médico</button>
                </div> -->

                <app-buscador-medicos-referentes (medicoEnviado)="seleccionarMedicoReferente($event)"></app-buscador-medicos-referentes>


                <div class="form-group my-3">
                    <mat-form-field>
                        <input matInput placeholder="Técnico" [formControl]="autocompleteControlTecnico"
                            [matAutocomplete]="autocompleteTecnico">
                        <mat-autocomplete #autocompleteTecnico="matAutocomplete" [displayWith]="mostrarNombreTecnico"
                            (optionSelected)="seleccionarTecnico($event)">
                            <mat-option *ngFor="let tecnico of tecnicosFiltrados" [value]="tecnico">
                                {{tecnico.nombres + ' ' + tecnico.apellidos}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>




                <div class="form-group my-3">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name ="mensaje" rows="3" [value]="estudio.mensaje" (input)="estudio.mensaje= $event.target.value;"></textarea>
                  </div>

            </form>
        </div>

    </div>

    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
    </div>

</div>