<div class="root">
    <button class="btn btn-secondary" style="position: absolute; top: 1%; right: 3%; z-index: 100;" (click)="cancelar()">Volver</button>
    <h1 class="display-4" style="margin: 2%;">Enviar {{estudio.concepto.concepto}} de {{estudio.paciente.nombreCompleto}}</h1>
    <div mat-dialog-content>
    <div class="card text-light bg-dark mb-1">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="motivo">Motivo</label>
                    <input type="text" name="motivo" id="motivo" class="form-control" readonly disabled
                        placeholder={{estudio.ordenVenta.motivo}}
                    >
                </div>
                <div class="form-group my-1">
                    <label class="form-check-label" for="antecedentes">Antecedentes</label>
                    <input type="text" name="antecedentes" id="antecedentes" class="form-control" readonly disabled
                        placeholder={{antecedentesJuntos}}>
                </div>
                <div class="form-group my-2">
                    <mat-form-field>
                        <mat-label>Médico radiólogo</mat-label>
                         <mat-select #medicoRadiologoSelect (selectionChange)="seleccionarMedicoRadiologo($event)">
                          <mat-option *ngFor="let medico of medicosRadiologosFiltrados" [value]="medico" >{{
                            (medico.especialidadParaMostrarEnContador ? medico.especialidadParaMostrarEnContador + ": ": '') +
                            medico.nombres + " " + medico.apellidos + ": " + medico.cantidadEstudiosMandadosEnElDia}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="form-group my-1">
                    <img [src]="imagePath + estudio.ordenVenta.id" class="img-thumbnail rounded" alt="."
                        style="cursor: pointer;">
                </div>

                <app-buscador-medicos-referentes (medicoEnviado)="seleccionarMedicoReferente($event)" [medicoExiste]="estudio.ordenVenta.medicoReferente"></app-buscador-medicos-referentes>
                @if (this.estudio.ordenVenta.medicoReferente.correo) {
                    <p>Correo del medico: {{ this.estudio.ordenVenta.medicoReferente.correo }}</p>
                }
                <div class="form-group my-1">
                    <mat-form-field>
                        <mat-label>Técnico</mat-label>
                        <input matInput placeholder="Técnico" [formControl]="autocompleteControlTecnico"
                            [matAutocomplete]="autocompleteTecnico">
                        <mat-autocomplete #autocompleteTecnico="matAutocomplete" [displayWith]="mostrarNombreTecnico"
                            (optionSelected)="seleccionarTecnico($event)">
                            <mat-option *ngFor="let tecnico of tecnicosFiltrados" [value]="tecnico">
                                {{tecnico.nombres + ' ' + tecnico.apellidos}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="form-group my-1">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name ="mensaje" rows="3" [value]="estudio.mensaje" (input)="estudio.mensaje= $event.target.value;"></textarea>
                  </div>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
    </div>
    </div>
</div>