.contenedor-busqueda {
  width: 50%;
  display: flex;
  height: max-content;
}
.buscar-qr{
    width: 30%;
}
.filtrar-areas {
    width: 40%;
    margin-left: 3%;
}
.primer-paso{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.custom-mat-form-field {
  width: 400px;
}

.formularioPaciente-subirFoto {
  width: 80%;
  margin-left: 5%;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; */
}
.subirFoto-pagar {
  height: min-content;
}
.subirFoto-pagar button {
  font-size: larger;
  text-align: center;
  width: 50%;
  height: min-content;
}

.cerrar {
  text-align: end;
  justify-content: end;
  align-items: end;
  align-content: end;
}

.contenedor-boton-pagar {
  padding-bottom: 30px;
}


.agregar-estudios-container{
  display: flex;
  flex-direction: column;
}

.boton-agregar-container{
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
  width: 93%;
  margin-top: 0.5rem;
}

.codigo-promocional-container{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin-top: 0.5rem;
}


