<div class="contenedor-busqueda">
  <div class="busqueda">
    <form class="example-form">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="buscarPorPaciente" id="porPaciente"
          name="porPaciente">
        <label class="form-check-label" for="porPaciente">
          Buscar por paciente
        </label>
      </div>
      
      <div *ngIf="!buscarPorPaciente">
        <div class="col-md-auto mb-4">
          <label for="qr">Escanee el qr aquí:</label>
          <input type="text" class="form-control" id="qr" (input)="buscarQr()" #qr>
        </div>
      </div>
      
      <div *ngIf="buscarPorPaciente">
        <mat-form-field class="custom-mat-form-field">
          <input matInput placeholder="Digite el nombre del paciente" [formControl]="autocompleteControlPaciente"
            [matAutocomplete]="autocompletePaciente" class="custom-mat-input">
          <mat-autocomplete class="mat-autocomplete" #autocompletePaciente="matAutocomplete"
            [displayWith]="mostrarNombrePaciente" (optionSelected)="seleccionarPaciente($event)">
            <mat-option class="mat-option" *ngFor="let paciente of pacientesFiltrados" [value]="paciente">
              {{paciente.nombreCompleto}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button (click)="abrirModalPacienteOrdenes()" type="button" class="btn btn-success" data-mdb-ripple-init
          [disabled]="!this.paciente">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="orden?.id && orden?.paciente?.id">
  <div class="cerrar"><button type="button" class="btn btn-danger" (click)="cerrar()"><i class="bi bi-x-square"></i></button></div>
  <div class="card text-dark bg-light mb-3">
    <div class="card-header">
      <h2>{{orden?.paciente.nombreCompleto.toUpperCase()}}</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped" *ngIf="orden">
          <thead>
            <tr>
              <th>Estudio</th>
              <th>Fecha</th>
              <th>Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estudio of listaDeEstudios">
              <td>{{estudio.concepto?.concepto}}</td>
              <td>{{estudio.fechaAsignado | date : "dd/MM/yyyy"  }}</td>
              <td>{{ parseHora(estudio.horaAsignado) | date: 'h:mm a'  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="formularioPaciente-subirFoto">
  <app-formulario-paciente *ngIf="orden?.id && orden?.paciente?.id" [model]="orden.paciente"></app-formulario-paciente>
  
  <div class="subirFoto-pagar">
    <app-subir-foto-orden *ngIf="orden?.id" [orden]="orden"></app-subir-foto-orden>
    
    <button *ngIf="orden?.id && orden?.paciente?.id" class="btn btn-info" (click)="mostrarQrSubirFoto()">  
      <i class="bi bi-qr-code-scan"></i>
      Mostrar qr subir foto
    </button>
  </div>
  
  
  <div class="contenedor-boton-pagar">
    <button *ngIf="orden?.id && orden?.paciente?.id" class="btn btn-success" (click)="pagar()" [disabled]="botonDeshabilitado">
      <i class="bi bi-currency-dollar"></i>
      Pagar
    </button>
  </div>

</div>