<div>
  <div class="busqueda">
    <form class="example-form">
      <mat-form-field class="custom-mat-form-field">
        <input matInput placeholder="Paciente" [formControl]="autocompleteControlPaciente"
            [matAutocomplete]="autocompletePaciente" class="custom-mat-input">
        <mat-autocomplete class="mat-autocomplete" #autocompletePaciente="matAutocomplete" [displayWith]="mostrarNombrePaciente"
            (optionSelected)="seleccionarPaciente($event)">
            <mat-option class="mat-option" *ngFor="let paciente of pacientesFiltrados" [value]="paciente">
                {{paciente.nombreCompleto}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

      
    </form>
    <button
    (click)="abrirModalPacienteOrdenes()"
      type="button"
      class="btn btn-success"
      data-mdb-ripple-init
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
        />
      </svg>
    </button>
  </div>
</div>
