<div class="base-chat">
  
  <div class="card text-dark bg-light mb-3">
    <div class="card-header">Chats</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <tbody *ngIf="chats">
            <tr *ngFor="let chat of chats">
              <td (click)="entrarAlChat(chat)">{{ chat }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="card text-dark bg-light mb-3">
    <div class="card-header">Mensajes de {{chatSeleccionado}}</div>
    <div class="card-body"*ngFor="let mensaje of listaMensajes">
      <p>{{mensaje.message ? mensaje.message: 'a'}} {{mensaje.timestamp*1000 | date: "h:mm a - dd/MM/yyyy"}}</p>
    </div>
  </div>
  

</div>
