RewriteEngine On
  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^ /ris/index.html
  IndexOptions +Charset=UTF-8
