.contenedor-img-botones {
  display: grid;
  grid-template-columns: 20% 80%;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.contenedor-imagenes {
  display: flex;
  flex-direction: row;
}
.fotos {
  width: 512px;
}




button {
  width: 100%;
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }
  .contenedor-img-botones {
    display: grid;
    grid-template-columns: 100%;
  }
}
