<mat-card>
  <h1 mat-card-title class="pt-3 ps-3">{{ titulo }}</h1>
  <div mat-card-content>
    <div class="text-dark bg-light mb-3">
      <div class="">
        <form>
          <div class="row my-4">
            @if ((estudio.iuid == null || estudio.iuid.length == 0) &&
            estudio?.concepto?.dicom) {
            <p style="font-size: x-large; color: #ff0000">
              El estudio aún no ha sido tomado
            </p>
            } @else {
            <p style="font-size: x-large; color: #ff0000">
              El estudio aún no ha sido interpretado
            </p>
            }
          </div>

          <div class="contenedor-img-botones">
            @if (estudio.iuid?.length > 0) {
            <div class="contenedor-botones">
              <div class="my-2">
                <button
                  type="button"
                  class="btn btn-primary btn-lg"
                  (click)="ver(estudio)"
                >
                  Ver estudio en línea
                </button>
              </div>

              <div
                *ngIf="
                  (interpretacionExterna | async) == true ||
                  interpretacion != null
                "
              >
                <div class="my-2">
                  <button
                    type="button"
                    class="btn btn-primary btn-lg"
                    (click)="verInterpretacion(estudio)"
                  >
                    Ver interpretacion
                  </button>
                </div>
              </div>

              <div class="mt-3 mb-2">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm"
                  (click)="abrirConWeasis(estudio)"
                >
                  Abrir estudio con weasis
                </button>
              </div>

              <div class="my-2">
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="descargarZip(estudio)"
                >
                  Descargar estudio en zip
                </button>
              </div>

              <div class="my-2">
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="descargarWeasisWindows()"
                >
                  Descargar weasis windows
                </button>
              </div>

              <div class="my-2">
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="descargarWeasisMac()"
                >
                  Descargar weasis mac
                </button>
              </div>

              <div
                class="my-2"
                *ngIf="
                  estudio.iuid &&
                  (estudio.equipoDicom.modalidad === 'DX' ||
                    estudio.equipoDicom.modalidad === 'CR' ||
                    estudio.equipoDicom.modalidad === 'OT')
                "
              >
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="descargarImagenes(estudio.iuid)"
                >
                  Descargar imágenes
                </button>
              </div>

              <div class="my-2">
                <button class="btn btn-info" routerLink="/ayuda">
                  ¿Necesitas ayuda?
                </button>
              </div>
            </div>
            }

            <div class="contenedor-imagenes">
              @for (foto of multimedia; track $index) { @if
              (foto.tipo==='IMAGEN') {
              <img
                [src]="filesPath + foto.ruta"
                class="img-thumbnail rounded fotos"
                style="cursor: pointer"
              />
              } }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
