.root {
  background-image: linear-gradient(60deg, #29323c, #485563);
  min-height: 100vh;
  min-width: 100vw;
}
table {
  background-color: #212529;
  color: white;
}
.tabla-container {
  display: table;
  margin: 0 auto;
}

.tabla {
  width: 50%;
  margin: 2% auto;
}

td {
  font-size: large;
  color: white;
}
th {
  font-size: x-large;
  color: white;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
