
.verde {
  color: green;
}

.btn-add {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.main {
  display: flex;
}

form {
  width: 40%;
}

mat-form-field {
  width: 90%;
}

.tabla {
  width: 90%;
}

.mitad {
  max-width: 90%;
}

.instrucciones {
  width: 60%;
}
