.verde {
  color: green;
}


.btn-add{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
}


@media (min-width:601px) {
  mat-form-field {
    width: 50%;
  }

  .tabla{
    width: 50%;
  }

  .mitad{
    max-width: 50%;
  }
}

@media (max-width:600px) {
  mat-form-field {
    width: 100%;
  }

  .tabla{
    width: 100%;
  }

  .mitad{
    max-width: 100%;
  }
}