<div class="p-3 text-center">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Seleccionar el rango de días en los que se desea generar las citas</h1>
    <div>
        <label for="fechaInicio">Fecha de inicio:</label>
        <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fecha.fechaInicio"/>    
    </div>
    
    <div class="my-4">
        <label for="fechaFin">Fecha de fin:</label>
        <input type="date" id="fechaFin" name="fechaFin" [(ngModel)]="fecha.fechaFin"/>
    </div>

    <div class="text-end">
        <button class="btn btn-success my-3" [mat-dialog-close]="fecha">Generar</button>
    </div>
</div>