<div>
  <div class="mt-3 ms-2 d-flex">
    <mat-form-field appearance="fill">
      <mat-label>Rango de fechas:</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Inicio" #fechaInicio />
        <input
          (dateChange)="onEndDateChange(fechaInicio, fechaFin)"
          matEndDate
          placeholder="Fin"
          #fechaFin
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="ms-3">
      <input
        matInput
        placeholder="Paciente"
        [formControl]="autocompleteControlPaciente"
        [matAutocomplete]="autocompletePaciente"
      />
      <mat-autocomplete
        #autocompletePaciente="matAutocomplete"
        [displayWith]="mostrarNombrePaciente"
        (optionSelected)="seleccionarPaciente($event)"
      >
        <mat-option
          *ngFor="let paciente of pacientesFiltrados"
          [value]="paciente"
        >
          {{ paciente.nombreCompleto }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="card text-dark bg-light mb-3">
    <div class="card-header">Instituciones</div>
    <div class="card-body">
      <div class="alert alert-info" *ngIf="lista?.length == 0">
        No hay estudios en el sistema.
      </div>

      <div class="table-responsive" *ngIf="lista?.length > 0">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Etiqueta</th>
              <th>Paciente</th>
              <th>Estudios</th>
              <th>Fecha</th>
              <th>Ver</th>
              <th>Resultado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orden of lista">
              <td ><button mat-raised-button color="primary" (click)="abrirQr(orden)">Imprimir</button></td>
              <td>{{ orden.paciente.nombreCompleto }}</td>
              <td>{{ orden.estudios }}</td>
              <td>{{ orden.fechaVenta | date : "dd/MM/yyyy" }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="verOrden(orden)"
                >
                  Ver estudio
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="enviarResultado(orden)"
                >
                  Enviar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="totalPorPagina"
      [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions"
      (page)="paginar($event)"
      showFirstLastButtons
      class="float-left mx-2"
    >
    </mat-paginator>
  </div>
</div>
