<div class="base-landing-clientes">
  <div class="texto">
    <p>Hola</p>
    <p>{{ nombreCliente }}</p>

    <div class="texto-informativo">
      Nos hemos dado cuenta que la compra que realizaras es alta, por lo tanto
      te consideramos como cliente especial y te ofrecemos la membresía de oro.
    </div>
    <button type="submit" class="btn btn-warning">Adquierela</button>
  </div>

  <div class="imagen-membresia">
    <img
      class="img-membresia"
      src="../../../assets/membresia.webp"
      alt="imagenMembresia"
    />
  </div>
</div>
