.logo {
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  background-color: rgb(0, 50, 229);
  height: 120px;
}
.logo img {
  height: 80px;
}
.seccion-1 {
  text-align: center;
}
.contenido h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.contenido p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenido img {
  width: 100%;
}

.section-2 {
}
.colaboradores {
  background-color: rgb(36, 36, 36);
  align-items: center;
  backdrop-filter: blur(50px);
}
.texto-colaboradores {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: medium;
}
.colaboradores img {
  padding-bottom: 10px;
  width: 25%;
}

.section-3 {
  padding-top: 15px;
}
.servicios h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.servicios img {
  width: 100%;
  padding-bottom: 3px;
  border-radius: 10px;
  padding-left: 1px;
  padding-right: 1px;
}
.section-4 {
}
.cta-membresia {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cta-membresia h1 {
  font-weight: bold;
}
.cta-membresia li {
  padding-bottom: 10px;
}
.footer {
  background-color: rgb(0, 50, 229);
}
.contactos img {
  width: 25%;
}
.bg-copy {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
}
.footer h3 {
  text-align: center;
  color: white;
  font-size: 8px;
}
