<div class="base-landing-clientes">
  <div class="textos">
    <p class="texto-nombre">{{ nombreCliente }}</p>

    <div class="texto-informativo">
      <p>
        Detectamos que la cantidad pagada de tus estudios es considerable.
      </p>
      <p>¿Te gustaria adquirir la membresia?</p>
    </div>
    <button type="submit" class="btn btn-warning">Adquirir</button>
  </div>

  <div class="imagen-membresia">
    <img
      class="img-membresia"
      src="../../../assets/membresia.webp"
      alt="imagenMembresia"
    />
  </div>
</div>
