.base-lg {
}
.header-logo {
}
.logo {
  padding-top: 15px;
  text-align: center;
  justify-content: center;
  background-color: rgb(0, 50, 229);
  border-bottom-left-radius: 50px;
  height: 120px;
}
.logo img {
  height: 80px;
}
.seccion-1 {
  text-align: center;
}
.contenido {
}
.contenido h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 36px;
  color: black;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}
.contenido p {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.contenido img {
  width: 80%;
}

.contenido button {
  font-weight: 550;
  font-size: 20px;
}

.section-2 {
  background-color: rgb(36, 36, 36);
  text-align: center;
  color: #fff;
  box-shadow: 0px 0px 25px #222;
  backdrop-filter: blur(20px);
}
.colaboradores {
  align-items: center;
}
.colaboradores h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}
.colaboradores img {
  padding-bottom: 20px;
  width: 25%;
}

.section-3 {
  padding-top: 15px;
}
.servicios h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: black;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}
.servicios img {
  width: 100%;
  padding-bottom: 3px;
  border-radius: 10px;
  padding-left: 1px;
  padding-right: 1px;
}
.section-4 {
}
.cta-membresia {
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 35px;
  padding-right: 35px;
}
.cta-membresia h1 {
  padding-top: 40px;
  padding-bottom: 20px;

  font-size: 36px;
  font-weight: bold;
  color: black;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}
.cta-membresia li {
  padding-bottom: 10px;
  font-weight: bold;
  color: black;
  font-size: 18px;
  list-style: decimal;
}
.footer {
  background-color: rgb(0, 50, 229);
  border-top-right-radius: 50px;
}
.img-1 {
}
.contactos img {
  width: 25%;
}
.bg-copy {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
}
.footer h3 {
  text-align: center;
  color: white;
  font-size: 8px;
}
