.pendiente{
    color: #fa0f0f;
}

.terminado{
    color: #21c429;
}
.input-paciente{
    width: 350px;
}

.estado-column{
    text-align: center;
    justify-content: center;
    justify-self: center;
}