<div class="card">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <div class="row justify-content-md-left">
      <div class="col-lg-auto">
        <div class="card-body">
          <mat-form-field appearance="outline">
            <input
              placeholder="Seleccionar fecha"
              matInput
              [matDatepicker]="picker1"
              [formControl]="date"
              #fechaSeleccionada
              (dateInput)="buscarPorFecha(fechaSeleccionada)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="col-lg-auto my-3">
        <mat-form-field appearance="outline">
          <mat-select [(value)]="estado" (selectionChange)="buscarPorEstado()">
            <mat-option value="INTERPRETANDO">Pendientes</mat-option>
            <mat-option value="INTERPRETADO">Finalizados</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-auto my-3">
        <mat-form-field appearance="outline" class="input-paciente">
          <input
            matInput
            placeholder="Paciente"
            [formControl]="autocompleteControlPaciente"
            [matAutocomplete]="autocompletePaciente"
          />
          <mat-autocomplete
            #autocompletePaciente="matAutocomplete"
            [displayWith]="mostrarNombrePaciente"
            (optionSelected)="buscarPorPaciente($event)"
          >
            <mat-option
              *ngFor="let paciente of pacientesFiltrados"
              [value]="paciente"
            >
              {{ paciente.nombreCompleto }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="alert alert-dark" *ngIf="estudios?.length == 0">
      No hay estudios en el sistema.
    </div>

    <table class="table table-secondary" *ngIf="estudios?.length > 0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Estudio</th>
          <th>Paciente</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Dictamen</th>
        </tr>
      </thead>
      <tbody *ngIf="estudios?.length > 0">
        <tr *ngFor="let estudio of estudios">
          <td>{{ estudio.id }}</td>
          <td>{{ estudio.concepto.concepto }}</td>
          <td>{{ estudio.paciente.nombreCompleto }}</td>
          <td>{{ estudio.fechaAsignado | date : "dd/MM/yyyy" }}</td>
          <td *ngIf="estudio.estado != 'INTERPRETADO'">
            <p class="pendiente">Pendiente</p>
          </td>
          <td *ngIf="estudio.estado == 'INTERPRETADO'">
            <div class="estado-column">
              <p class="terminado">Terminado</p>
              <button (click)="abrirDictador(estudio)" class="btn btn-primary">
                Entrar al dictador
              </button>
            </div>
          </td>
          <td class="">
            <button
              *ngIf="estudio.estado != 'INTERPRETADO'"
              class="btn btn-primary btn-sm"
              [routerLink]="['/dictador/', estudio.id]"
            >
              Interpretar
            </button>
            <button
              *ngIf="estudio.estado == 'INTERPRETADO'"
              class="btn btn-dark"
              (click)="ver(estudio)"
            >
              Ver
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      *ngIf="estudios?.length > 0"
      [length]="totalRegistros"
      [pageSize]="totalPorPagina"
      [pageIndex]="paginaActual"
      [pageSizeOptions]="pageSizeOptions"
      (page)="paginar($event)"
      showFirstLastButtons
      class="float-left mx-2"
    >
    </mat-paginator>
  </div>
</div>
