<div class="card text-dark bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <div class="row justify-content-md-left">

            <div class="col-lg-auto">
                <div class="card-body">
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccionar fecha</mat-label>
                        <input matInput [matDatepicker]="picker1" [formControl]="date" #fechaSeleccionada
                            (dateInput)="buscarPorFecha(fechaSeleccionada)">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>



            <div class="col-lg-auto my-3 ">
            <mat-form-field appearance="fill">
                <mat-label>Estado:</mat-label>
                <mat-select [(value)]="estado" (selectionChange)="buscarPorEstado()">
                    <mat-option value="INTERPRETANDO">Pendientes</mat-option>
                    <mat-option value="INTERPRETADO">Finalizados</mat-option>
                </mat-select>
            </mat-form-field>
            </div>

            <div class="col-lg-auto my-4">
                <mat-form-field>
                    <input matInput placeholder="Paciente" [formControl]="autocompleteControlPaciente"
                        [matAutocomplete]="autocompletePaciente">
                    <mat-autocomplete #autocompletePaciente="matAutocomplete" [displayWith]="mostrarNombrePaciente"
                        (optionSelected)="buscarPorPaciente($event)">
                        <mat-option *ngFor="let paciente of pacientesFiltrados" [value]="paciente">
                            {{paciente.nombreCompleto}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </div>

        <div class="alert alert-info" *ngIf="estudios?.length==0">
            No hay estudios en el sistema.
        </div>


        <table class="table table-hover table-striped" *ngIf="estudios?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Estudio</th>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Dictamen</th>

                </tr>
            </thead>

            <tbody *ngIf="estudios?.length>0">
                <tr *ngFor="let estudio of estudios">
                    <td>{{estudio.id}}</td>
                    <td>{{estudio.concepto.concepto}}</td>
                    <td>{{estudio.paciente.nombreCompleto}}</td>
                    <td>{{estudio.fechaAsignado | date: 'dd/MM/yyyy'}}</td>
                    <td *ngIf="estudio.estado!='INTERPRETADO'">
                        <p class="pendiente">Pendiente</p>
                    </td>
                    <td *ngIf="estudio.estado=='INTERPRETADO'">
                        <p class="terminado" (click)="abrirDictador(estudio)">Terminado</p>
                    </td>
                    <td>
                        <button *ngIf="estudio.estado!='INTERPRETADO'" class="btn btn-primary btn-sm"
                            [routerLink]="['/dictador/', estudio.id]">
                            Interpretar
                        </button>
                        <button *ngIf="estudio.estado=='INTERPRETADO'" class="btn btn-primary btn-sm"
                            (click)="ver(estudio)">
                            Ver
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>

        <mat-paginator [length]="totalRegistros" [pageSize]="totalPorPagina" [pageIndex]="paginaActual"
            [pageSizeOptions]="pageSizeOptions" (page)="paginar($event)" showFirstLastButtons class="float-left mx-2">
        </mat-paginator>

    </div>
</div>
