<div class="container text-dark">
  <div class="display-4 objeto texto lead">{{ titulo }}</div>
  <div class="">
    <div class="" *ngFor="let estudio of estudios">
      <div class="objeto">
        <button class="btn btn-primary" (click)="abrir(estudio)">
          ABRIR {{ estudio.equipoDicom.area.nombre }}:
          {{ estudio.concepto.concepto }}
        </button>
      </div>
    </div>

    <!-- <div class="objeto">
      <button class="btn btn-warning" routerLink="/medico-referente/landing">
        Dejar Queja/Sugerencia Medico Referente
      </button>
    </div> -->

    <div class="objeto">
      <button class="btn btn-warning" routerLink="/medico-referente/landing">
        Unirme a la red de Medicos Referentes
      </button>
    </div>

    <div class="objeto">
      <button class="btn btn-info" routerLink="/ayuda">
        ¿Necesitas ayuda?
      </button>
    </div>

    <div class="alert alert-info" *ngIf="estudios?.length == 0">
      No existen estudios en la orden indicada
    </div>
  </div>
</div>
