.root {
  background-image: url("https://ris.diagnocons.com/estudios/pantallas/pantalla.webp");

  /* background-image: url("../../../../assets/sexo.jpg"); */

  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.section-container {
  display: grid;
  text-align: center;
  height: 80%;
  max-height: 80%;
}
.section {
  z-index: 100;
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
}
.pasar-container {
  display: grid;
  text-align: center;
  height: 20%;
  max-height: 20%;
  background-color: #bae300;
}

.sala {
  background-color: whitesmoke;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2), 4px 4px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-left: 2.5%;
  width: 95%;
  height: 50px;
}

.turno {
  background-color: #545454;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 90%;
  margin-left: 5%;
}
.turno,
h2 {
  color: white;
  font-weight: 300;
}

.pasar {
  animation: intercalarBoxShadow 10s ease-in-out 1;
}

@keyframes intercalarBoxShadow {
  0% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  10% {
    box-shadow: 0 0 30px rgb(98, 0, 255);
  }
  20% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  30% {
    box-shadow: 0 0 30px rgb(98, 0, 255);
  }
  40% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 30px rgb(98, 0, 255);
  }
  60% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 30px rgb(98, 0, 255);
  }
  80% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0 0 30px rgb(98, 0, 255);
  }
  100% {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}
