<!-- <audio autoplay controls>
  <source src="../../../../assets/ponten4.mp3" type="audio/mpeg" /></audio
> -->
<div class="root">
  <div
    class="section-container"
    [ngStyle]="{
      'grid-template-columns': 'repeat(' + waitingTurns.length + ', 1fr)'
    }"
  >
    @for (sala of waitingTurns; track $index; ) {
    <div class="section">
      <h1 class="sala" style="font-weight: bold">{{ sala.displayName }}</h1>
      @for (turno of sala.turnos; track $turno; let cuenta=$count; let i=$index)
      { @if (sala.turnos.length>=6) { @if (i>0) {
      <div
        class="turno"
        style="margin-top: 10%"
        (click)="eliminarTurnoManual(turno)"
      >
        <h2 style="margin-top: 10%">
          {{ turno.idToDisplay }}
        </h2>
      </div>
      } }@else {
      <div
        class="turno"
        style="margin-top: 10%"
        (click)="eliminarTurnoManual(turno)"
      >
        <h2 style="margin-top: 10%">
          {{ turno.idToDisplay }}
        </h2>
      </div>
      } }
    </div>
    }
  </div>

  <div
    class="pasar-container"
    [ngStyle]="{
      'grid-template-columns': 'repeat(' + waitingTurns.length + ', 1fr)'
    }"
  >
    @for (p of pasar; track $index) {
    <div class="section">
      @for (turno of p.turnos; track $index) { @if (turno) {
      <div>
        <h1
          style="
            font-weight: bolder;
            font-size: 36px;
            color: black;
            padding-top: 10%;
          "
        >
          PASAR
        </h1>
        <div
          class="turno pasar"
          style="margin-top: 20%"
          (click)="eliminarPasarManual(turno)"
        >
          <h2 style="margin-top: 10%; font-size: 24px">
            {{ turno.idToDisplay }}
          </h2>
        </div>
      </div>
      }@else {
      <div></div>
      } }
    </div>
    }
  </div>
</div>
