<div>
    
    <div class="card text-dark bg-light mb-3">
      <div class="card-header">
        <h2>{{model.nombreCompleto.toUpperCase()}}</h2>
      </div>
      <div class="card-body">
        <div class="alert alert-info" *ngIf="model == null">
          No hay pacientes para hoy
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped" *ngIf="model">
            <thead>
              <tr>
                <th>ORDENES</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenes">
                <td>{{orden.concepto.toUpperCase()}}</td>
                <td><button class="btn btn-primary" (click)="abrirVerOrdenModal(ordenes.id)"> Ver Orden</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
