<div>
  <div class="cerrar"><button type="button" class="btn btn-danger" (click)="cerrarModal()">X</button></div>
    <div class="card text-dark bg-light mb-3">
      
      <div class="card-header">
        <h2>{{model.nombreCompleto.toUpperCase()}}</h2>
      </div>
      <div class="card-body">
        <div class="alert alert-info" *ngIf="model == null">
          No hay pacientes para hoy
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped" *ngIf="model">
            <thead>
              <tr>
                <th>Concepto</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenesHoy">
                <td>{{orden.estudios}}</td>
                <td><button class="btn btn-primary" (click)="abrirVerOrdenModal(orden)"> Ver Orden</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
