<div class="container" id = "imprimir">
    <div class="row">
        <div class="col-lg-auto">
            <qr-code value={{ruta}}></qr-code>
        </div>
        <div class="col-lg-auto">
            <div>{{ruta}}</div>
            <div>{{estudio.paciente.nombreCompleto}}</div>
            <div>{{estudio.concepto.area.nombre + ": "+ estudio.concepto.concepto}}</div>
            <div>{{estudio.fechaAsignado | date: 'dd/MM/YYYY'}}</div>
        </div>

    </div>
</div>
<br>
<button class="btn btn-primary btn-block" (click)="exportHtmlToPDF()">Imprimir</button>

