<div class="card text-dark bg-light mb-3">
  <div class="card-header">Registro</div>
  <div class="card-body">
    <form class="form" *ngIf="!codigoEnviado">
      <div>
        <mat-form-field class="">
          <mat-label>Correo electronico</mat-label>
          <input matInput [formControl]="correo" />
        </mat-form-field>
        |Ó|
        <mat-form-field class="">
          <mat-label>Whatsapp</mat-label>
          <input matInput [formControl]="whatsapp" />
        </mat-form-field>
      </div>

      <button
        class="btn btn-success"
        type="submit"
        (click)="enviarCodigoVerificacion()"
        [disabled]="deshabilitadoEnvio"
      >
        Siguiente
      </button>
    </form>

    <form class="form" *ngIf="codigoEnviado && !verificado">
      <mat-form-field class="">
        <mat-label>Verificar codigo</mat-label>
        <input matInput [formControl]="codigoVerficiacion" />
      </mat-form-field>
      <button class="btn btn-success" (click)="verificarCodgio()">
        Verificar
      </button>
    </form>

    <app-medico-referente-datos-form
      *ngIf="verificado"
      (datosUsuario)="recibirDatosUsuario($event)"
      [correo]="correo.value"
      [whatsapp]="whatsapp.value"
    ></app-medico-referente-datos-form>
  </div>
</div>
