<mat-card class="d-flex flex-column">


  <div class="form-group">
    <mat-form-field style="width: 80%;">
      <input matInput placeholder="Área" [formControl]="autocompleteControlArea" [matAutocomplete]="autocomplete">
      <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="mostrarNombreArea"
        (optionSelected)="seleccionarArea($event)">
        <mat-option *ngFor="let area of areasFiltradas" [value]="area">
          {{area.nombre}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field style="width: 80%;">
      <mat-label>Sala</mat-label>
      <mat-select (selectionChange)="buscarHorariosPorSala($event.value)">
        <mat-option *ngFor="let sala of salas" [value]="salas.id">
          {{sala.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</mat-card>


<div class="card text-dark bg-light mb-3" *ngIf="horarios?.length > 0">
  <div class="card-header">Horarios</div>

  <div class="card-body" >
    <button class="btn btn-primary my-2" routerLink="/horarios/form">Crear</button>
    <table class="table table-striped table-hover table-default my-4 ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Día</th>
          <th scope="col">Inicio</th>
          <th scope="col">Fin</th>
          <th scope="col">Duración</th>
          <th scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios">
          <td>horario.dia</td>
          <td>horario.horaInicio</td>
          <td>horario.horaFin</td>
          <td>hora.duracionMinutos</td>
          <td> 
            <button class="btn btn-primary btn-sm"
            (click)="modificar(horario)">
            Modificar
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>