
    <div class="enviar-resultado">
        <div>
            
            <mat-form-field  class="example-form-field">
                <mat-label>Medico</mat-label>
                <input matInput type="text" [(ngModel)]="Nombres"/>
            </mat-form-field>
        
            <button type="button" class="btn btn-success mx-4 rounded-circle btn-add" (click)="abrirModalRegistrarMedico()">{{this.id ? "Editar" : "+"}}</button>
        </div>
        <div class="campos-medico">
            <mat-form-field  class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput required type="text" [(ngModel)]="Nombres"/>
            </mat-form-field>
            <mat-form-field  class="example-form-field">
                <mat-label>Apellidos</mat-label>
                <input required matInput type="text" [(ngModel)]="Apellidos"/>
            </mat-form-field>
            <mat-form-field  class="example-form-field">
                <mat-label>Especialidad</mat-label>
                <input matInput type="text" [(ngModel)]="Especialidad"/>
            </mat-form-field>
            <mat-form-field  class="example-form-field">
                <mat-label>Cedula</mat-label>
                <input matInput type="text" [(ngModel)]="Cedula"/>
            </mat-form-field>
            <mat-form-field  class="example-form-field">
                <mat-label>Correo</mat-label>
                <input required matInput type="email" [(ngModel)]="Correo"/>
            </mat-form-field>
            <mat-form-field  class="example-form-field">
                <mat-label>Whatsapp</mat-label>
                <input matInput type="text" [(ngModel)]="Whatsapp"/>
            </mat-form-field>
            <mat-form-field  class="example-form-field">
                <mat-label>Direccion</mat-label>
                <input matInput type="text" [(ngModel)]="Direccion"/>
            </mat-form-field>
            <mat-form-field  class="example-form-field">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput type="text" [(ngModel)]="FechaNacimiento"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sexo</mat-label>
                <mat-select matInput type="text" [(ngModel)]="Sexo">
                  <mat-option value="0">Masculino</mat-option>
                  <mat-option value="1">Femenino</mat-option>
                </mat-select>
              </mat-form-field>
         
        </div>
        <button class="btn btn-primary" (click)="enviarResultados()">Enviar resultados</button>
    </div>
   