.general-container {
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  color: #dddfdf;
}
mat-toolbar{
  background-color: #cccccc;

}
.mayus {
  text-transform: uppercase;
}

.gris {
  background-color: #cccccc;
}

.patient-info-keys {
  width: 100%;
  height: 70%;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.patient-info-keys p {
  margin: 20px;
}

.patient-info-values p {
  margin: 20px;
}
.action-buttons button {
  margin: 5px;
  width: 80%;
  box-shadow: 1px 2px 6px #000000;
}

.report-action-buttons {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.report-action-buttons button {
  box-shadow: 1px 2px 6px #000000;
}

.report-buttons button {
  margin: 10px;
}

.action-ia-button {
  margin: 10px;
  border: #000000;
}
.container-report-ia {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  justify-content: center;
}
.editor{
  width: 50%;
}

@media (max-width: 1024px) {
  .general-container {
    width: 100%;
  }
  .container-report-ia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conclusion-ia {
    margin-top: 20px;
  }
  .editor{
    width: 90%;
  }
}

.create-report-button {
  text-align: start;
  margin-left: 1%;
  margin-top: 1%;
}

.contenedor-ia {
  text-align: end;
  margin-right: 2%;
}

.conclusion-ia {
  margin-left: 1%;
}

.medico-referente {
  display: flex;
  flex-direction: row;
}
.input-medico {
  width: 30%;
}


.editor {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }
}

.sinborde {
  border: 0;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  direction: rtl;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.botones-finales {
  margin-left: 1%;
  margin-bottom: 20px;
}
