<div class="info-content" style="position: relative">
  <h1 class="info-content" mat-dialog-title>{{ titulo }}</h1>
  <button
    style="position: absolute; top: 1%; right: 3%; z-index: 100"
    class="btn btn-secondary"
    (click)="cancelar()"
  >
    Cerrar
  </button>
  <div mat-dialog-content class="info-content">
    <div>
      <form>
        <div class="form-group my-1">
          <label for="institucion">Institucion</label>
          <input
            type="text"
            name="institucion"
            id="institucion"
            class="form-control"
            [(ngModel)]="estudio.institucion.nombre"
            disabled
          />
        </div>

        <div class="form-group my-1">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            name="nombre"
            id="nombre"
            class="form-control"
            [(ngModel)]="estudio.paciente.nombreCompleto"
            disabled
          />
        </div>

        <div
          class="form-group my-1"
          *ngIf="
            estudio.ordenVenta.motivo != '' && estudio.ordenVenta.motivo != null
          "
        >
          <label for="motivo">Motivo</label>
          <input
            type="text"
            name="motivo"
            id="motivo"
            class="form-control"
            disabled
            placeholder="{{ estudio.ordenVenta.motivo }}"
          />
        </div>

        <div
          class="form-group my-1"
          *ngIf="antecedentesJuntos != '' && antecedentesJuntos != null"
        >
          <label class="form-check-label" for="antecedentes"
            >Antecedentes</label
          >
          <input
            type="text"
            name="antecedentes"
            id="antecedentes"
            class="form-control"
            disabled
            placeholder="{{ antecedentesJuntos }}"
          />
        </div>

        <div class="form-group my-1">
          <label for="sexo">Sexo</label>
          <select
            class="form-select"
            name="sexo"
            disabled
            [(ngModel)]="estudio.paciente.sexo"
          >
            <option value="1">Fememnino</option>
            <option value="2">Masculino</option>
          </select>
        </div>

        <div class="form-group my-1">
          <label for="fechaNacimiento">Fecha de nacimiento</label>
          <input
            disabled
            type="datetime-local"
            name="fechaNacimiento"
            id="fechaNacimiento"
            class="form-control"
            [(ngModel)]="estudio.paciente.fechaNacimiento"
          />
        </div>

        <div class="form-group my-1">
          <label for="telefono">Teléfono</label>
          <input
            type="text"
            disabled
            name="telefono"
            id="telefono"
            class="form-control"
            [(ngModel)]="estudio.paciente.telefono"
          />
        </div>

        <div class="form-group my-1">
          <label for="email">Email</label>
          <input
            type="text"
            disabled
            name="email"
            id="email"
            class="form-control"
            [(ngModel)]="estudio.paciente.email"
          />
        </div>
      </form>
    </div>
  </div>
</div>
