<mat-card class="p-3 d-flex flex-column">
    <h1>Seleccione el rango días que desea apartar</h1>
    <div class="form-group">
        <div class="col-md-auto" style="display: flex; flex-direction: column; width: 25%;">
            <mat-form-field appearance="fill">
                <mat-label>Fechas:</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Inicio" #fechaInicio />
                    <input matEndDate placeholder="Fin" #fechaFin
                        (dateChange)="seleccionarFechas(fechaInicio, fechaFin)" />
                </mat-date-range-input>
                <mat-hint>DD-MM-AAAA / DD-MM-AAAA</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            
            <div style="display: flex; margin-top: 5%; margin-bottom: 5%;">
                <mat-checkbox  class="example-margin" [(ngModel)]="aplicarATodo"> </mat-checkbox> 
                <h2 style="margin-top: 5px;">{{aplicarATodo ? 'Se aplicara a todas las áreas':'Marcar para todas las áreas'}}</h2>
            </div>
        </div>


        <div class="seleccion-areas mt-3" *ngIf="!aplicarATodo" style="width: 30%;">
            <mat-form-field style="width: 80%">
                <input matInput placeholder="Área" [formControl]="autocompleteControlArea"
                    [matAutocomplete]="autocomplete" />
                <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="mostrarNombreArea"
                    (optionSelected)="seleccionarArea($event)">
                    <mat-option *ngFor="let area of areasFiltradas" [value]="area">
                        {{ area.nombre }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div class="form-group" [formGroup]="formulario">
                <mat-form-field style="width: 80%">
                    <mat-label>Sala</mat-label>
                    <mat-select formControlName="salaControl">
                        <mat-option *ngFor="let sala of salas" [value]="sala.id">
                            {{ sala.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div style="margin-left: 18%;">
        <button type="button" class="btn btn-success mt-3 btn-lg" (click)="apartarCitas()">Apartar días seleccionados</button>
    </div>
</mat-card>