<div class="card text-dark bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/conceptos/form">Crear</button>
        <div class="alert alert-info" *ngIf="lista?.length==0">
            No hay conceptos en el sistema.
        </div>
        <table class="table table-hover table-striped" *ngIf="lista?.length>0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Concepto</th>
                    <th>Area</th>
                    <th>Dicom</th>
                    <th>Instrucciones</th>
                    <th>Requiere saber antecedentes</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody *ngIf="lista?.length>0"> 
                <tr *ngFor="let concepto of lista">
                    <td>{{concepto.id}}</td>
                    <td>{{concepto.concepto}}</td>
                    <td>{{concepto.area.nombre}}</td>
                    <td>{{concepto.dicom}}</td>
                    <td>{{concepto.instrucciones.nombre}}</td>
                    <td>{{concepto.requiereSaberAntecedentes}}</td>
                    <td><button class="btn btn-secondary btn-sm" [routerLink]="['/conceptos/form', concepto.id]">
                            Editar
                        </button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="eliminar(concepto)">
                            Eliminar
                        </button></td>
                </tr>
            </tbody>
        </table>

        <mat-paginator [length]="totalRegistros" 
        [pageSize]="totalPorPagina" 
        [pageIndex]= "paginaActual"  
        [pageSizeOptions]= "pageSizeOptions"
        (page) = "paginar($event)"
        showFirstLastButtons
        class="float-left mx-2"
        >
        </mat-paginator>

    </div>
</div>