<div class="landing-background">
    <div class="beneficios">

        <h1>Simplifica tu Práctica Médica con diagnocons</h1>
        <h2>Centraliza tus Estudios Radiológicos en una Plataforma Segura y Eficiente</h2>

        <article>
            <p>¿Estás cansado de perder tiempo valioso llamando para obtener resultados de estudios radiológicos? ¡Tenemos la solución perfecta para ti!</p>
            <section>
                <ul >
                    <li>Acceso Instantáneo: Olvídate de esperas interminables para obtener resultados. Accede a los estudios radiológicos de tus pacientes en segundos, desde cualquier lugar y en cualquier momento.</li>
                    <li>Centralización de Datos: Mantén todos los estudios radiológicos de tus pacientes en un solo lugar, facilitando el seguimiento y la toma de decisiones informadas sobre su tratamiento.</li>
                    <li>Ahorro de Tiempo: Dedica más tiempo a tus pacientes y menos a tareas administrativas. Con nuestra plataforma, podrás reducir significativamente la carga de trabajo administrativo.</li>
                    <li>Confianza del Paciente: Al referir a tus pacientes a diagnocons, les estás proporcionando acceso a servicios radiológicos de alta calidad y confianza. Esto fortalecerá la relación médico-paciente y te ayudará a ganarte la confianza y el respeto de tus pacientes.</li>
                </ul>
            </section>
        </article>

       
    </div>

    <div>
        <p> Regístrate ahora y comienza a disfrutar de los beneficios de diagnocons. Simplifica tu práctica médica hoy mismo.</p>
        <button class="btn btn-primary" routerLink="/medico-referente/registro">Registrarme</button>
    </div>
</div>