<div class="div-body">
  <header>
    <a href="#">
      <img src="https://diagnocons.com/img/core-img/logo-small.png" alt="diagnocons">
    </a>
    <h1>Simplifica tu Práctica Médica con diagnocons</h1>
    <h2>Centraliza tus Estudios Radiológicos en una Plataforma Segura y Eficiente</h2>
  </header>
  <main>
    <section class="atencion">
      <h2>¿Estás cansado de perder tiempo valioso llamando para obtener resultados de estudios radiológicos?</h2>
      <h3>¡Tenemos la solución perfecta para ti!</h3>
    </section>
    <section class="interes">
      <h3>Beneficios Destacados:</h3>
      <ul>
        <li><b>Acceso Instantáneo:</b> Olvídate de esperas interminables para obtener resultados. Accede a los estudios radiológicos de tus pacientes en segundos, desde cualquier lugar y en cualquier momento.</li>
        <li><b>Centralización de Datos:</b> Mantén todos los estudios radiológicos de tus pacientes en un solo lugar, facilitando el seguimiento y la toma de decisiones informadas sobre su tratamiento.</li>
        <li><b>Ahorro de Tiempo:</b> Dedica más tiempo a tus pacientes y menos a tareas administrativas. Con nuestra plataforma, podrás reducir significativamente la carga de trabajo administrativo.</li>
        <li><b>Confianza del Paciente:</b> Al referir a tus pacientes a diagnocons, les estás proporcionando acceso a servicios radiológicos de alta calidad y confianza. Esto fortalecerá la relación médico-paciente y te ayudará a ganarte la confianza y el respeto de tus pacientes.</li>
        <li><b>Mayor Visibilidad:</b> Ingresarás al catálogo de médicos de diagnocons, donde los pacientes podrán encontrarte fácilmente, ampliando tu alcance y presencia en la comunidad médica.</li>
      </ul>
    </section>
    <section class="video">
        <h2>Uso de la plataforma para medicos referentes</h2>
        <div class="video-container">
            
          <iframe width="560" height="315" src="https://www.youtube.com/embed/y7aVA3B7tC0?si=vfWOIpsolKJKHdQO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
        </div>
    </section>
    <section class="accion">
        <h2>Regístrate ahora y comienza a disfrutar de los beneficios de diagnocons. Simplifica tu práctica médica hoy mismo.</h2>
        <button routerLink="/medico-referente/registro" class="btn btn-primary">Registrate aquí</button>
    </section>
    <section class="conviccion">
      <h3>Elementos de Convicción:</h3>
      <ul>
        <li>Demostración Personalizada: Programa una demostración gratuita para descubrir cómo diagnocons puede transformar tu práctica médica.</li>
        <li>Garantía de Satisfacción: Estamos tan seguros de que te encantará nuestra plataforma que ofrecemos una garantía de satisfacción del 100%.</li>
        <li>Soporte Continuo: Nuestro equipo de soporte estará disponible en todo momento para ayudarte con cualquier pregunta o inquietud que puedas tener.</li>
      </ul>
    </section>
  </main>
  <div class="div-footer">
    <p>¿Tienes alguna pregunta?</p>
    <p>No dudes en ponerte en contacto con nuestro equipo en contacto&#64;diagnocons.com o al 6275223484.</p>
  </div>
</div>
