.fondo {
    background: rgb(6,0,106);
    background: linear-gradient(90deg, rgba(6,0,106,1) 0%, rgba(34,0,255,1) 64%, rgba(0,104,255,1) 100%);
  height: 100vh;
}

.container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 80vh; /* Make container fill viewport height (optional) */
}

.example-card {
  width: 600px;
  height: 350px;
}

.contenedor2 {
  display: flex;
  flex-direction: column; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
  height: 30vh;
}
