<mat-form-field appearance="fill">
    <input class="buscar-paciente"
      matInput
      placeholder="Introduzca el nombre del paciente"
      [formControl]="autocompleteControlPaciente"
      [matAutocomplete]="autocompletePaciente"
    />
    <mat-autocomplete
      #autocompletePaciente="matAutocomplete"
      [displayWith]="mostrarNombrePaciente"
      (optionSelected)="seleccionarPaciente($event)"
    >
      <mat-option
        *ngFor="let paciente of pacientesFiltrados"
        [value]="paciente"
      >
        {{ paciente.nombreCompleto }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
