<div *ngIf="fotosCargadas | async">
  <div class="si" *ngIf="hasFotos(); else noFotoTemplate">
    @for (foto of fotos; track foto; let i = $index ) {
    <div class="foto-container">
      <img
        [src]="filesPath + foto.ruta"
        [style.transform]="rotation[i]"
        class="fotito"
      />
      <button class="btn-rotate btn btn-primary" (click)="rotateImage(i)">Rotar <i class="bi bi-arrow-repeat"></i></button>
    </div>
    }
  </div>
</div>

<ng-template #noFotoTemplate>
  <p class="nofoto">No se ha subido foto</p>
</ng-template>
