.si {
  display: flex;
}

.fotito {
  height: 80vh;
  margin: 0.5rem;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.btn-rotate {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 150px;
  margin: 2%;
}

.nofoto {
  color: red;
  margin: 1rem;
}

.foto-container {
  position: relative;
}