<div class="root">
  <img
    src="assets/img-landing-membresia/grupo diagnocare.webp"
    alt="logo kines"
    width="20%"
    class="mb-2"
  />
  <div class="flex" style="width: 50%">
    <app-buscador-pacientes
      class="me-5"
      (pacienteEnviado)="pacienteBuscado($event)"
    ></app-buscador-pacientes>
    <img
      src="assets/img-landing-membresia/kines.webp"
      alt="logo kines"
      width="8%"
    />
    <img
      src="assets/img-landing-membresia/jimenez.webp"
      alt="logo jimenez"
      width="8%"
    />
    <img
      src="assets/img-landing-membresia/diagnocons.webp"
      alt="logo cons"
      width="8%"
    />
    <img
      src="assets/img-landing-membresia/pets.webp"
      alt="logo pets"
      width="8%"
    />
  </div>
  <mat-card style="width: 50%">
    <div class="p-4">
      <form class="formulario">
        <div style="display: flex; flex-direction: column; width: 80%">
          <mat-form-field>
            <mat-label>Nombres</mat-label>
            <input
              matInput
              type="text"
              name="nombre"
              id="nombre"
              [(ngModel)]="model.nombre"
              (input)="mayusculasNombre()"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apellido paterno</mat-label>
            <input
              matInput
              type="text"
              name="apellidoPaterno"
              id="apellidoPaterno"
              [(ngModel)]="model.apellidoPaterno"
              (input)="mayusculasPaterno()"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apellido materno</mat-label>
            <input
              type="text"
              name="apellidoMaterno"
              id="apellidoMaterno"
              matInput
              [(ngModel)]="model.apellidoMaterno"
              (input)="mayusculasMaterno()"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              (dateChange)="seleccionarFecha(fecha)"
              #fecha
              [formControl]="fechaNacimientoControl"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>País de orígen</mat-label>
            <mat-select
              [(ngModel)]="pais"
              name="pais"
              (selectionChange)="generar()"
            >
              <mat-option *ngFor="let pais of paises" [value]="pais">
                {{ pais }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="pais == 'MÉXICO'">
            <mat-label>Entidad de nacimiento</mat-label>
            <mat-select
              [(ngModel)]="entidad"
              name="entidad"
              (selectionChange)="generar()"
            >
              <mat-option *ngFor="let entidad of entidades" [value]="entidad">
                {{ entidad }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select
              [(ngModel)]="sexo"
              name="sexo"
              (selectionChange)="seleccionarSexo()"
            >
              <mat-option *ngFor="let sexo of sexos" [value]="sexo">
                {{ sexo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="display: flex; flex-direction: column; width: 80%">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="email"
              name="email"
              id="email"
              matInput
              [(ngModel)]="model.email"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input
              type="text"
              name="telefono"
              id="telefono"
              matInput
              [(ngModel)]="model.telefono"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Curp</mat-label>
            <input
              type="text"
              name="curp"
              id="curp"
              matInput
              [(ngModel)]="model.curp"
              (input)="mayusculasCurp()"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Codigo de la Membresía</mat-label>
            <input
              type="text"
              name="membresia"
              id="membresia"
              matInput
              [(ngModel)]="codigoMembresia"
            />
          </mat-form-field>
          <div class="my-2 text-end">
            <div>
              @if (!codigoMembresia) {
              <button
                [disabled]="generandoCodigo() ? true : false"
                mat-raised-button
                color="primary"
                class="me-2"
                (click)="generarCodigoMembresia()"
              >
                {{
                  generandoCodigo() ? "Generando" : "Generar Codigo Membresia"
                }}
              </button>
              } @if (!guardado()) {
              <button
                mat-raised-button
                color="primary"
                type="button"
                (click)="crear()"
              >
                {{ model?.id ? "Guardar" : "Crear" }}
              </button>
              }
            </div>
            @if (codigoMembresia && model.nombre && guardado() && !descargar())
            {
            <button
              class="mt-2"
              mat-raised-button
              color="primary"
              (click)="abrirQrFirmarPoliticasMembresiaModal()"
            >
              Firmar membresia
            </button>
            } @if (descargar()) {
            <div>
              <button
                mat-raised-button
                color="primary"
                class="me-2"
                (click)="descargarMembresia()"
              >
                Descargar Membresia
              </button>
            </div>
            <div>
              <button
                mat-raised-button
                color="primary"
                class="mt-2 me-2"
                (click)="descargarContrato()"
              >
                Descargar Contrato
              </button>
            </div>
            <div>
              <button
                mat-raised-button
                color="primary"
                class="mt-2 me-2"
                (click)="abrirWhatsappMember()"
              >
                ABRIR WHATSAPP
              </button>
            </div>
            }
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
