<div>
  <div class="container">
    <app-buscador-areas
      class="area ms-4 me-4"
      (areaEmit)="recibirArea($event)"
    />
    <app-buscador-sala class="me-4" (salaEmit)="recibirSala($event)" />

    <mat-form-field appearance="fill">
      <input matInput placeholder="Nombre a mostrar" [(ngModel)]="displayName" />
    </mat-form-field>
    <div class="text-end">
      <button class="btn btn-success btn-lg" (click)="agregarSala()">
        Agregar
      </button>
    </div>
  </div>
</div>
