<div class="root">
  <div class="container">
    @if (!data) {
    <app-buscador-areas class="area me-4" (areaEmit)="recibirArea($event)" />
    <app-buscador-sala class="me-4" (salaEmit)="recibirSala($event)" />
    }

    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Nombre para mostrar"
        [(ngModel)]="displayName"
      />
    </mat-form-field>

    @if (data) {
    <mat-checkbox class="example-margin" [(ngModel)]="data.enabled"
      ><span style="color: white">¿Mostrar en pantalla?</span></mat-checkbox
    >

    }

    <div class="text-end">
      <button
        class="btn btn-success"
        (click)="data ? guardarCambios() : agregarSala()"
      >
        {{ data ? "Guardar" : "Agregar" }}
      </button>
    </div>
  </div>
</div>
