<div class="root">
  <div style="position: absolute; right: 0%; z-index: 100">
    <button class="btn" (click)="dialogRef.close()">
      <i style="color: white" class="bi bi-x-lg"></i>
    </button>
  </div>
  <h2 style="color: white" mat-dialog-title>{{ titulo }}</h2>
  <mat-dialog-content class="mat-typography">
    <h3>PACIENTE</h3>
    <p>{{ estudio.paciente.nombreCompleto }}</p>
    <!-- <input
            type="text"
            name="paciente"
            id="paciente"
            class="form-control"
            [(ngModel)]="estudio.paciente.nombreCompleto"
          /> -->

    <h3>ESTUDIO</h3>
    <p>{{ estudio.concepto.concepto }}</p>
    <!-- <input
            type="text"
            name="estudio"
            id="estudio"
            class="form-control"
            [(ngModel)]="estudio.concepto.concepto"
          />
        </div> -->

    <h3>PROCEDENCIA</h3>
    <p>{{ estudio.institucion.nombre }}</p>

    <!-- <input
            type="text"
            name="procedencia"
            id="procedencia"
            class="form-control"
            [(ngModel)]="estudio.institucion.nombre"
          />
        </div> -->
    <h3>CAMBIAR MEDICO</h3>
    <app-buscador-medicos-referentes
      [mostrarNuevoMedicoInput]="false"
      (medicoEnviado)="seleccionarMedicoReferente($event)"
      [medicoExiste]="estudio.ordenVenta.medicoReferente"
    ></app-buscador-medicos-referentes>

    <h3>CORREO MÉDICO REFERENTE</h3>
    <p>{{ correoMedico }}</p>
    <!-- <input
            type="email"
            name="correo"
            id="correo"
            class="form-control"
            [(ngModel)]="correoMedico"
          /> -->

    <h3>CORREO PACIENTE</h3>
    <p>{{ correoPaciente }}</p>
    <!-- <input
            type="email"
            name="correoPaciente"
            id="correoPaciente"
            class="form-control"
            [(ngModel)]="correoPaciente"
          /> -->

    <h3>WHATSAPP PACIENTE</h3>
    <p>{{ whatsappPaciente }}</p>
    <!-- <input
            type="text"
            name="whatsappPaciente"
            id="whatsappPaciente"
            class="form-control"
            [(ngModel)]="whatsappPaciente"
          /> -->

    <h3>MENSAJE</h3>
    <p>{{ mensaje }}</p>
    <!-- <input
            type="text"
            name="mensaje"
            id="mensaje"
            class="form-control"
            [(ngModel)]="mensaje"
          /> -->
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" class="btn btn-primary" (click)="enviarCorreo()">
      <i class="bi bi-envelope-at-fill"></i> Enviar correos
    </button>
    <button
      type="button"
      class="btn btn-success mx-3"
      (click)="enviarWhatsapp()"
    >
      <i class="bi bi-send-fill"></i> Whatsapp a paciente
    </button>
  </mat-dialog-actions>
</div>
