<mat-card>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre turno</mat-label>
    <input matInput name="nombre" id="nombre" [(ngModel)]="model.nombre" />
  </mat-form-field>
  <div class="form-group" style="width: 80%" class="my-3">
    <label for="horaInicio" class="lbl-hora">Hora Inicio</label>
    <input
      [(ngModel)]="model.horaInicio"
      type="time"
      id="horaInicio"
      name="horaInicio"
      min="07:00"
      max="20:00"
      required
    />
  </div>
  <div class="form-group" style="width: 80%" class="my-3">
    <label for="horaFin" class="lbl-hora">Hora Fin</label>
    <input
      [(ngModel)]="model.horaFin"
      type="time"
      id="horaFin"
      name="horaFin"
      min="07:00"
      max="20:00"
      required
    />
  </div>
  <button
    class="btn btn-success"
    (click)="!idOrden ? guardarTurno() : editarTurno()"
  >
    {{ idOrden ? "Editar" : "Guardar" }}
  </button>
</mat-card>
