
<div id = "reporte">
        <table style="width: 100%; height: auto; border: solid 1px #f9f9f9;">
            <tr>
                <td style="text-align: left; font-size: 4mm; width: 70%; background: no-repeat url(../../../../assets/dictador/header.jpg); margin-bottom: 0; 
                padding: 0px; padding-left: 10px;">
                    <br><br><br><br><br>
                    <div><b>NOMBRE: </b>nombre</div>
                    <!--   <div><b>NO. AFILIADO:</b></div>   -->
                    <div><b>ESTUDIO: </b>estudio</div>
                    <div><b>MEDICO: </b>referente</div>
                    <div><b>FECHA: </b>fecha</div><br>
                    <div><b>ESTIMADO DR: referente</b></div>
                </td>

                <td style="text-align: right; width: 30%; font-size: 4mm; font-weight: none; margin: 0; padding:0;
                padding-right: 5px;">
                    <br><br><br>
                    <p>AV. 20 DE NOVIEMBRE 64 COL. CENTRO DEL PARRAL CHIH TEL: 6271123652 / 6271119421
                        contacto@diagnocons.com <br>www.diagnocons.com
                    </p>
                </td>
            </tr>
        </table>
        <section style = 'width: 100%; text-align: left; border: solid 0px #55DD44;padding-left: 10px;' class = "ql-editor">
            <div #interpretacion></div>
        </section>
        <footer>
         <table style="width: 100%; border: solid 1px #f9f9f9;">
                <tr>
                    <td style="text-align: center; width: 70%">
                        <p style="text-align: center;font-size: .7em">
                            <!--
                            <img
                                src='dictador/$firmaMedico'
                                alt= 'firma del médico'
                                style='width:120px; height:auto; margin:0; padding:0;'>

                            -->
                            <!--<hr style='margin:0; padding:0;"text-align: center;'>-->
                            <br>
                            medico 
                            apellidosMedico <br>
                            especialidadMedico <br>
                            cedulaFederalMedico <br>
                            cedulaEstatalMedico <br>
                            </p>
                    </td>
                </tr>
            </table>
        
            <!--<p style="text-align: center; width: 50%; border: solid 1px #f9f9f9;"><img
                    src='https://ris.diagnocons.com/createReport/images/firmas/$firmaMedico'
                    style='width:120px; height:auto;'></img>
                <hr>
                </hr>
                $medico
                $apellidosMedico
                $especialidadMedico
                $cedulaFederalMedico
                $cedulaEstatalMedico
            </p>
    -->
        </footer>
</div>


<button class="btn btn-success" (click)="convertToPDF()">Ver pdf</button>

