<div class="fondo">
    <div class="carta">
        <mat-card>
            <div>
                <h1>Medico {{username}}</h1>
                <h1>Relacion de estudios</h1>

                <div class="d-felx mb-4">
                    <app-buscador-medicos-referentes [mostrarNuevoMedicoInput]="false" [esAdmin]="esAdmin"></app-buscador-medicos-referentes>
                    <app-campo-fecha-rango (fechas)="fechasEmitidas($event)" class="me-4"></app-campo-fecha-rango>
                    <button mat-raised-button color="primary">Buscar</button>
                </div>

                <table [dataSource]="estudiosDataSource" *ngIf="estudios.length>0" mat-table
                    class="mat-elevation-z8 mt-2">
                    <ng-container matColumnDef="Area">
                        <th mat-header-cell *matHeaderCellDef>Area</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Estudio">
                        <th mat-header-cell *matHeaderCellDef>Estudio</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Fecha">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Ver estudio">
                        <th mat-header-cell *matHeaderCellDef>Ver estudio</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element}}
                        </td>
                    </ng-container><ng-container matColumnDef="Descripcion">
                        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.descripcion }}
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="estudiosDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: estudiosDisplayedColumns"></tr>
                </table>

                <div class="estudios-imprimir">
                    <div>
                        <p>Cantidad de estudios: {{estudios.length}} </p>
                        <div *ngFor="let estudio of estudios">
                            <p>{{estudio}}</p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success me-4 btn-lg">Imprimir resultados</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>