.root{
    width: 30%;
    margin: 1%;
    text-align: center;
}
.mayus {
    text-transform: uppercase;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px){
    .root{
        width: 100%;
        margin: 2%;
    }

    .formulario {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}




