.pdf{
  width: 100%;
  height: auto;
}

pdf-viewer {
  width: 100%;
  height: auto;
}


@media (min-width: 768px) {
  pdf-viewer {
    width: 50%;
    height: 400px;
  }

  .pdf {
    width: 50%;
    height: 400px;
  }
}

@media (min-width: 999px) {
  pdf-viewer {
    width: 1000px;
    height: 700px;
  }

  .pdf{
    width: 1000px;
    height: 700px;
  }
}
