<div class="perfil-container">
  <div class="btn-editar-campos">
    <button
      [class]="editarCampos ? 'btn btn-info mb-2' : 'btn btn-secondary mb-2'"
      (click)="cambiarEditar()"
    >
      {{ editarCampos ? "Editar" : "Cancelar" }}
    </button>
  </div>
  <div class="card card-header">
    <i class="bi bi-person-circle"></i>
  </div>
  <div *ngIf="!editarCampos">
    <label for="subir-imagen"
      ><i class="bi bi-card-image">Subir imagen</i></label
    >
    <input type="file" id="subir-imagen" hidden />
  </div>
  <h1 class="display-1">Nombre de usuario: {{ datosUsuario.usuario }}</h1>

  <div class="tarjeta">
    <div>
      <mat-form-field  >
        <mat-label>Nombres(s)</mat-label>
        <input
          matInput
          [(ngModel)]="datosUsuario.nombres"
          [disabled]="editarCampos"
        />
      </mat-form-field>
      <mat-form-field  >
        <mat-label>Apellido(s)</mat-label>
        <input
          matInput
          [(ngModel)]="datosUsuario.apellidos"
          [disabled]="editarCampos"
        />
      </mat-form-field>
      <mat-form-field  >
        <mat-label>Especialidad</mat-label>
        <input
          matInput
          [(ngModel)]="datosUsuario.especialidad"
          [disabled]="editarCampos"
        />
      </mat-form-field>
      <mat-form-field  >
        <mat-label>Telefono</mat-label>
        <input
          matInput
          [(ngModel)]="datosUsuario.telefono"
          [disabled]="editarCampos"
        />
      </mat-form-field>
      <mat-form-field  >
        <mat-label>direccion</mat-label>
        <input
          matInput
          [(ngModel)]="datosUsuario.direccion"
          [disabled]="editarCampos"
        />
      </mat-form-field>
    </div>
   <div>
    <mat-form-field  >
      <mat-label>Correo</mat-label>
      <input
        matInput
        [(ngModel)]="datosUsuario.correo"
        [disabled]="editarCampos"
      />
    </mat-form-field>
    <mat-form-field  >
      <mat-label>Whatsapp</mat-label>
      <input
        matInput
        [(ngModel)]="datosUsuario.whatsapp"
        [disabled]="editarCampos"
      />
    </mat-form-field>
    <mat-form-field >
      <mat-label>Fecha de nacimiento: </mat-label>
      <input
        [disabled]="editarCampos"
        matInput
        [matDatepicker]="picker"
        (dateChange)="seleccionarFecha()"
        #fecha
        [formControl]="fechaNacimientoControl"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Sexo</mat-label>
      <mat-select [disabled]="editarCampos" [(ngModel)]="datosUsuario.sexo">
        <mat-option *ngFor="let sexoO of sexos" [value]="sexoO">{{
          sexoO == "1" ? "Femenino" : "Masculino"
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>
  <div class="guardar-cambios">
    <button
      *ngIf="!editarCampos"
      class="btn btn-success mt-3"
      (click)="guardarCambios()"
    >
      Guardar Cambios
    </button>
  </div>
</div>
