.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

input{
    padding: 50px;
    background-color: rgb(43, 43, 43);
}