.pagado{
    color: #fa0f0f;
}

.terminado{
    color: #21c429;
}

.agendado{
    color: blue;
}
.interpretando{
    color: orange;
}
.tomado{
    color: darkmagenta;
}

.cancelado{
    color: #fa0f0f;
}

.confirmado{
    color:darkcyan;
}
.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  .info-item {
    margin: 10px;
    display: flex;
    align-items: center;
  }
  .info-item strong {
    margin-right: 10px;
  }