<div class="row justify-content-md-left mt-3 ms-1">
  <div class="col-md-auto">
    <button
      class="btn btn-info btn-lg btn-block"
      (click)="buscarEstudiosDeHoy()"
    >
      Hoy
    </button>
  </div>

  <div class="col-md-auto">
    <mat-form-field appearance="fill">
      <mat-label>Rango de fechas:</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          id="fechaInicio"
          matStartDate
          placeholder="Inicio"
          #fechaInicio
        />
        <input
          id="fechaFin"
          matEndDate
          placeholder="Fin"
          #fechaFin
          (dateChange)="buscarPorFecha(fechaInicio, fechaFin)"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="col-md-auto">
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Área"
        [formControl]="autocompleteControl"
        [matAutocomplete]="autocomplete"
      />
      <mat-autocomplete
        #autocomplete="matAutocomplete"
        [displayWith]="mostrarNombre"
        (optionSelected)="seleccionarArea($event)"
      >
        <mat-option *ngFor="let area of areasFiltradas" [value]="area">
          {{ area.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="col-md-auto">
    <mat-form-field appearance="fill" [style]="'width:400px;'">
      <input
        matInput
        placeholder="Paciente"
        [formControl]="autocompleteControlPaciente"
        [matAutocomplete]="autocompletePaciente"
      />
      <mat-autocomplete
        #autocompletePaciente="matAutocomplete"
        [displayWith]="mostrarNombrePaciente"
        (optionSelected)="seleccionarPaciente($event)"
      >
        <mat-option
          *ngFor="let paciente of pacientesFiltrados"
          [value]="paciente"
        >
          {{ paciente.nombreCompleto }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="col-md-auto">
    <mat-form-field>
      <mat-label>Modalidad</mat-label>
      <mat-select #modalidadSelect (selectionChange)="seleccionarModalidad($event)">
          <mat-option *ngFor="let modalidad of modalidades" [value]="modalidad" >{{modalidad}}</mat-option>
      </mat-select>
    </mat-form-field>
    
  </div>
</div>

<div class="card text-dark bg-light">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <div class="alert alert-info" *ngIf="lista?.length == 0">
      No hay estudios en el sistema.
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-borderless table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Orden</th>
            <th>Paciente</th>
            <th>Estudio</th>
            <th>Fecha</th>
            <th>Estatus</th>
            <th>Area</th>
            <th>Más</th>
          </tr>
        </thead>

        <tbody *ngIf="lista?.length > 0">
          <ng-container *ngFor="let estudio of lista" >
            <tr
           
            [ngClass]="{
              'table-success': estudio.estado == 'INTERPRETADO',
              'table-danger': estudio.estado == 'PAGADO'
            }"
          >
            <td (click)="abrirQr(estudio)">{{ estudio.id }}</td>
            <td>
              <button class="btn btn-info btn-sm" (click)="verQr(estudio)">
                Orden
              </button>
            </td>
            <td>{{ estudio.paciente.nombreCompleto }}</td>
            <td>{{ estudio.concepto.concepto }}</td>
            <td>{{ estudio.fechaAsignado | date : "dd/MM/yyyy" }}</td>
            <td
              *ngIf="
                estudio.estado === 'INTERPRETANDO' ||
                estudio.estado === 'INTERPRETADO'
              "
            >
              <p
                *ngIf="estudio.estado == 'INTERPRETANDO'"
                class="interpretando"
              >
                {{ estudio.estado }}
              </p>
              <p *ngIf="estudio.estado == 'INTERPRETADO'" class="terminado">
                {{ estudio.estado }}
              </p>
            </td>
            <td
              *ngIf="
                estudio.estado === 'PAGADO' ||
                estudio.estado === 'AGENDADO' ||
                estudio.estado === 'TOMADO' ||
                estudio.estado === 'CANCELADO' ||
                estudio.estado === 'CONFIRMADO'
              "
            >
              <p *ngIf="estudio.estado == 'AGENDADO'" class="agendado">
                {{ estudio.estado }}
              </p>
              <p *ngIf="estudio.estado == 'PAGADO'" class="pagado">
                {{ estudio.estado }}
              </p>
              <p *ngIf="estudio.estado == 'TOMADO'" class="tomado">
                {{ estudio.estado }}
              </p>
              <p *ngIf="estudio.estado == 'CONFIRMADO'" class="confirmado">
                {{ estudio.estado }}
              </p>
              <p *ngIf="estudio.estado == 'CANCELADO'" class="cancelado">
                {{ estudio.estado }}
              </p>
            </td>
            <td>{{ estudio.equipoDicom.area.nombre }}</td>

            <td>
              <button type="button" class="btn btn-sm btn-info" (click)="verMasInfo(estudio)">Ver más</button>
            </td>
            
          </tr>

          <tr *ngIf="estudio.verMasInfo">
            <td colspan="8">
              <div class="info-container" style="text-align: center;">
                <div class="info-item">
                  <strong>Id PACS:</strong> <span>{{ estudio.idPacs }}</span>
                </div>
                <div class="info-item" *ngIf="estudio.iuid?.length > 0" >
                  <strong>Abrir con Weasis:</strong>
                  <button class="btn btn-success btn-md" (click)="abrirWeasis(estudio)">
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <div class="info-item" *ngIf="estudio.iuid?.length > 0">
                  <strong>Desvincular:</strong>
                  <button class="btn btn-md btn-danger"  (click)="desvincular(estudio)">
                    X
                  </button>
                </div>
                <div class="info-item" *ngIf="estudio.concepto.dicom" >
                  <ng-container *ngIf="estudio.iuid?.length > 0">
                    <strong>Ver en línea:</strong>
                    <button class="btn btn-info btn-md" (click)="ver(estudio)">
                      <i class="bi bi-eye"></i>
                    </button>
                  </ng-container>
                  <ng-container *ngIf="!estudio.iuid?.length > 0">
                    <strong>Buscar</strong>
                    <button class="btn btn-info btn-md" *ngIf="!estudio.iuid?.length > 0" (click)="buscarEstudioEnPacs(estudio)">
                      <i class="bi bi-search"></i>
                    </button>
                  </ng-container>
                </div>
                <div class="info-item" *ngIf="estudio.iuid?.length > 0 || !estudio.concepto.dicom">
                  <strong>Interpretar:</strong>
                  <button class="btn btn-primary btn-md"  (click)="abrirEnvio(estudio)">
                    <i class="bi bi-send-fill"></i>
                  </button>
                </div>
                <div class="info-item">
                  <strong>Datos de la orden:</strong>
                  <button class="btn btn-info btn-md" (click)="abrirInformacion(estudio)">
                    <i class="bi bi-person-vcard-fill"></i>
                  </button>
                </div>
                <div class="info-item" *ngIf="estudio.iuid?.length > 0" >
                  <strong>Worklist:</strong>
                  <button class="btn btn-primary btn-md"
                            (click)="enviar(estudio)">
                            <i class="bi bi-list-check"></i>
                        </button>
                </div>
              </div>
            </td>
          </tr>
          </ng-container>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
