<div class="form-group my-1">
    <mat-form-field>
        <input matInput [placeholder]="etiqueta" [formControl]="autocompleteControlMedicoReferente"
            [matAutocomplete]="autocompleteReferente">
        <mat-autocomplete #autocompleteReferente="matAutocomplete" [displayWith]="mostrarNombreMedicoReferente"
            (optionSelected)="seleccionarMedicoReferente($event)">
            @for (medicoReferente of medicosReferentesFiltrados; track medicoReferente) {
                <mat-option  [value]="medicoReferente" [ngStyle]="{'background-color': medicoReferente.validado ? 'greenyellow' : null }">
                    {{medicoReferente.nombres + ' ' +medicoReferente.apellidos }} <span class="medico-validado">{{medicoReferente.validado? 'Medico Verificado' : ''}}</span>
                </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
    <button *ngIf="mostrarNuevoMedico" type="button" class="btn btn-sm btn-info mx-2" (click)="nuevoMedico()">Nuevo médico</button>
    <button *ngIf="mostrarNuevoMedico" type="button" class="btn btn-sm btn-primary mx-2" (click)="editarMedico()">Editar</button>

</div>