.contenedor-busqueda {
  padding-bottom: 20px;
}
.finalNavbar {
  align-items: flex-end;
}

.navbar-collapse{
  font-family: Verdana;
  font-size: small;

}

.username {
  font-size: x-large;
}
.username  .bi-person-fill{
  font-size: x-large;
  color: rgb(39, 255, 0);
}

.nombre-usuario{
  color: white;
}
.boton-usuario{
  display: flex;
}

.link-perfil{
  text-align: end;
  color: white;
  font-size: x-small;
}
.link-perfil:hover{
  cursor: pointer;
}