:host ::ng-deep .mat-datepicker-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background: transparent;
  }
  
  :host ::ng-deep .mat-datepicker-toggle .mat-icon-button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  :host ::ng-deep .mat-datepicker-toggle .mat-icon {
    font-size: 24px; /* ajusta el tamaño del ícono según sea necesario */
  }

  .mat-form-field {
    width: 90%;
  }
  
  .mat-input-element {
    width: 90%;
  }

  .flex{
    display: flex;
  }

  .btn-add{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mitad{
    max-width: 90%;
  }

  .verde{
    color: green;
  }