<div class="contenedor">
  <mat-form-field appearance="fill" class="input-areas">
    <input
      matInput
      placeholder="Área"
      [formControl]="autocompleteControlArea"
      [matAutocomplete]="autocompleteArea"
    />
    <mat-autocomplete
      #autocompleteArea="matAutocomplete"
      [displayWith]="mostrarNombreArea"
      (optionSelected)="areaSeleccionada($event)"
    >
      @for (area of areasFiltradas; track area.id) {
      <mat-option [value]="area">
        {{ area.nombre }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
